*.cpp       text eol=auto
*.h         text eol=auto
*.c         text eol=auto
*.i         text eol=auto
*.in        text eol=auto
*.inl       text eol=auto
*.manifest  text eol=auto
*.hpp       text eol=auto
*.txt       text eol=auto
*.obj       text eol=auto
*.dae       text eol=auto
*.lua       text eol=auto
*.mdl       text eol=auto
*.vcproj    text eol=auto
*.py        text eol=auto
*.md        text eol=auto
*.xml       text eol=auto
*.bat       text eol=auto
LICENSE     text eol=auto
