**/x64/Debug/
**/x64/Release/
**/Win32/Debug/
**/Win32/Release/
/Build/
Src/**/Debug/**
Src/**/Release/**
Src/**/#Compiler/cmake-*/**
PEEL/Excel/
PEEL/Src/#Compiler/*.exe

#
# Intermediate or temporary files
#

UpgradeLog.htm
.suo
*.user
**/.vs/*
