#
# PEEL Ignore List
#

.git/
.build/
out/

*.build

/Build/

/Docs/*Internal*

/Src/*
!/Src/.clang-format
!/Src/.clang-tidy
!/Src/PEEL/
!/Src/PINT_Common/
!/Src/PINT_PhysX4/
!/Src/PINT_Skeleton/
!/Src/PINT_Jolt/

/Src/**/Debug/**
/Src/**/Release/**
/Src/**/#Compiler/cmake-*/**
/Src/#Compiler/*.exe
/Excel/

/Externals/*
!/Externals/VC9/
!/Externals/DevIL/
!/Externals/fmod/

#
# Intermediate or temporary files
#

.vs/
UpgradeLog.htm
.suo
*.user
.DS_Store
