.suo
*.user
**/.vs/*
**/x64/Debug/
**/x64/Release/
**/Win32/Debug/
**/Win32/Release/
/Build/**/*.dll
/Build/**/*.exe
/Build/**/*.pdb
/Build/**/*.lib
/Build/**/*.exp
/Build/**/*.bsc
**/vs2019/Debug/**
**/vs2019/Release/**
PEEL/Excel/
PEEL/Src/#Compiler/*.exe
