[submodule "Externals/JoltPhysics"]
	path = Externals/JoltPhysics
	url = https://github.com/joelvaneenwyk/JoltPhysics.git
[submodule "Externals/PhysX4"]
	path = Externals/PhysX4
	url = https://github.com/joelvaneenwyk/PhysX.git
